<div id='startScreen'>
<img src="/images/corvislogo.png" alt="">
<h4>Welcome to Corvis!</h4>

<h4>Log In</h4>
<form action="/login" method="POST">
<label for="email">Email:</label>
<input type="text" name="email" id="email" required><br>
<label for="password">Password:</label>
<input type="password" name="password" id="password" required><br>
<button type="submit"><h4>Log In</h4></button>
</form>

<a href="/signup">
<h4>No account yet? Click here to sign up</h4>
</a>

{{#if message}}
<p style="color: red">{{message}}</p>
{{/if}}

</div>

