<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Heart Tracker</title>
    {{!-- {{#each stylesheets}}
        <link rel="stylesheet" href="/stylesheets/{{this}}">
    {{/each}} --}}
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/dashboardStyle.scss">
</head>
<body>

  {{{body}}}

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="/javascripts/script.js"></script>
</body>
</html>