body, html {
  margin: 0;
  height: 100vh;
  width: 100vw; }

body {
  font-family: 'Heebo', sans-serif;
  display: flex;
  flex-direction: column;
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em; }

h4 {
  font-family: Heebo;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0em; }

h2 {
  font-family: Heebo;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0em; }

#startScreen {
  background-color: #0d3044;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; }

#startScreen img {
  width: 40vw; }

#startScreen a {
  color: white;
  text-decoration: none;
  margin: 5px;
  border-radius: 5px;
  background-color: #0d3044;
  border: 1px solid #DE704C; }

#startScreen h4 {
  padding-left: 30px;
  padding-right: 30px; }

#startScreen button {
  color: white;
  text-decoration: none;
  margin: 5px;
  border-radius: 5px;
  background-color: #0d3044;
  border: 1px solid #DE704C;
  padding-left: 30px;
  padding-right: 30px; }

.logoHeader {
  width: 100vw;
  height: 60px;
  background-color: #0d3044;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: url("/images/corvislogo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 8%; }

.logoHeader a {
  color: white;
  text-decoration: none;
  padding-right: 10px;
  margin: 15px; }

.linkContainer {
  display: flex;
  flex-direction: row; }

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: scroll;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
  display: flex;
  flex-direction: column;
  overflow: scroll; }

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

/*overview styling */
#overviewContainer {
  display: flex;
  flex-direction: column;
  align-items: center; }

#addPatientContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end; }

#addPatient {
  background-color: #0d3044;
  color: white;
  text-decoration: none;
  margin-top: 50px;
  margin-right: 50px;
  padding: 10px;
  border-radius: 5px; }

#searchField {
  width: 60px; }

#overviewTable {
  width: 90vw;
  border: 1px solid grey; }

#overviewTable th {
  background-color: #D8DADB; }

#overviewTable th, td {
  padding: 10px; }

/* New Patient Styling */
.newPatientContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center; }

.newPatientForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50vw;
  height: 60wh;
  border: 1px solid grey; }

.newPatientForm form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  padding: 5px; }

.newPatientForm div {
  margin: 10px;
  padding: 5px; }

/*Dashboard Styling */
#dashboardContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; }

#patientHeader {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  width: 90vw;
  height: 20vh;
  border: 1px solid grey; }

#patientHeader h4 {
  color: #3185b3; }

.infoHeader {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 5px;
  padding: 5px; }

#patientInfo {
  display: flex;
  flex-direction: row; }

#contactInfo span {
  width: 16%;
  text-align: center;
  margin-right: 10px; }

#patientValues {
  display: flex;
  justify-content: align-items;
  width: 100%; }

#patientValues table {
  width: 100%; }

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #a7a0a0;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px; }

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc; }

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  background-color: #f1f1f1;
  width: 80%; }

.graphContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
  height: 70vh;
  position: relative; }

#treatmentsContainer {
  width: 20%;
  height: 100%;
  display: flex;
  margin: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
  border: 1px solid grey; }

#bpBsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid grey;
  margin: 10px; }

#bpBsHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%; }

#bloodPressureParent {
  display: none;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center; }

#bloodPressureContainer {
  display: flex;
  height: 100%;
  position: relative; }

#bloodPressureGraphContainer {
  width: 60%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#bloodPressureGraph {
  height: 40%;
  width: 50%; }

#bloodPressureTableContainer {
  overflow: scroll;
  height: 80%; }

#bloodPressureTable {
  height: 100%;
  width: 100%;
  margin-right: 20px; }

#bloodSugarParent {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center; }

#bloodSugarContainer {
  display: flex;
  height: 100%;
  position: relative; }

#bloodSugarGraphContainer {
  width: 60%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#bloodSugarChart {
  height: 40%;
  width: 50%; }

#bloodSugarTableContainer {
  overflow: scroll;
  height: 80%; }

#bloodSugarTable {
  height: 100%;
  width: 100%; }

.addButton {
  position: relative;
  background-color: grey;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
  width: 20px;
  height: 20px; }

.nextButton {
  height: 5vh;
  width: 50%;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  padding: 5px; }

.button-clicked {
  background-color: darkgray; }

#qrcode {
  border: 1px solid black;
  height: 250px; }

/* LoggedPatientView Styling */
#loggedPatientContainer {
  display: flex;
  flex-direction: column; }

#patientGraphContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; }

/*# sourceMappingURL=style.css.map */