body, html {
  margin: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/*Dashboard Styling */
#contactInfo {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  height: 5vh;
  background-color: rgba(165, 152, 152, 1);
}

#contactInfo span {
  width: 16%;
}

#patientValues {
  display: flex;
  justify-content: align-items;
  width: 90vw;
  background-color: lightgray;
}

#patientValues table {
  width: 100%
}

.measurements {
  margin: 10px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: scroll;
  background-color: #f1f1f1;
  width: 100%
}


.graphContainer {
  display: flex;
  justify-content: flex-start;
  width: 90vw;
  height: 70vh;

}

.treatment {
  border: 1px solid black;
  height: 100%;
  margin: 10px;
  padding: 10px;
  overflow: scroll;
}

#treatmentsContainer {
  width: 20%;
}

#heartRateContainer {
  display: flex;
  height: 100%
}

#heartRateGraphContainer {
  width: 60%;
  position: relative;
  display: flex;
  align-items: center
}

#heartRateGraph {
  height: 40%;
  width: 50%
}

#heartRateTable {
 overflow: scroll;
 height: 100%;
 width: 50%;
}

#heartRateInternal {
  display: flex;
  flex-direction: column;
  width: 60%;
}

#bloodSugarContainer {
  display: flex;
  flex-direction: column;
}

#bloodSugarGraphContainer {
  position: relative;
  display: flex;
  align-items: center
}


#bloodSugarTable {
  overflow: scroll;
  height: 100%;
  width: 100%
 }

