<div class="container">
  <h1>Hello patient!</h1>
<h1>Please, enter your email address here:</h1>
<form action="/login/patient" method="POST">
<input type="text" name="email">
<h1>Please, enter your pin here:</h1>
<input type="number" name="pin" id="pin">
<button type="submit">Log in</button>
</div>
</form>